################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.vs/
*.vsidx
/PickListAllocation/obj/Debug/net9.0/rpswa.dswa.cache.json
*.db-shm
*.db
*.db-wal
/.vs/PickListAllocation/v17/.suo
/.vs/PickListAllocation/v17/DocumentLayout.backup.json
/.vs/PickListAllocation/v17/DocumentLayout.json
/PickListAllocation/bin/Debug/net9.0/PickListAllocation.dll
/PickListAllocation/bin/Debug/net9.0/PickListAllocation.exe
/PickListAllocation/bin/Debug/net9.0/PickListAllocation.pdb
/PickListAllocation/obj/Debug/net9.0/ref/PickListAllocation.dll
/PickListAllocation/obj/Debug/net9.0/refint/PickListAllocation.dll
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.AssemblyInfoInputs.cache
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.AssemblyInfo.cs
/PickListAllocation/obj/Debug/net9.0/apphost.exe
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.csproj.CoreCompileInputs.cache
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.dll
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.pdb
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.sourcelink.json
/PickListAllocation/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/PickListAllocation/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/PickListAllocation/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
*.cache
PickListAllocation/obj/Debug/net9.0/PickListAllocation.assets.cache
*.cache
*.cache
PickListAllocation/obj/Debug/net9.0/PickListAllocation.assets.cache
*.cache
PickListAllocation/obj/project.assets.json
PickListAllocation/obj/project.nuget.cache
PickListAllocation/obj/PickListAllocation.csproj.nuget.g.props
PickListAllocation/obj/PickListAllocation.csproj.nuget.dgspec.json
*.cache
PickListAllocation/obj/Debug/net9.0/PickListAllocation.GeneratedMSBuildEditorConfig.editorconfig
PickListAllocation/obj/PickListAllocation.csproj.nuget.g.props
PickListAllocation/obj/project.nuget.cache
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.assets.cache
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.csproj.AssemblyReference.cache
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.GeneratedMSBuildEditorConfig.editorconfig
/PickListAllocation/obj/PickListAllocation.csproj.nuget.dgspec.json
/PickListAllocation/obj/PickListAllocation.csproj.nuget.g.props
/PickListAllocation/obj/project.assets.json
/PickListAllocation/obj/project.nuget.cache
/PickListAllocation/bin/Debug/net9.0/PickListAllocation.deps.json
*.json
*.BuildWithSkipAnalyzers
PickListAllocation/bin/Debug/net9.0/Microsoft.AspNetCore.Mvc.Razor.Extensions.dll
PickListAllocation/bin/Debug/net9.0/Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation.dll
PickListAllocation/bin/Debug/net9.0/Microsoft.AspNetCore.Razor.Language.dll
PickListAllocation/bin/Debug/net9.0/Microsoft.CodeAnalysis.Razor.dll
PickListAllocation/bin/Debug/net9.0/PickListAllocation.deps.json
PickListAllocation/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
PickListAllocation/bin/Debug/net9.0/Microsoft.Extensions.DependencyModel.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Antiforgery.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authentication.Abstractions.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authentication.Cookies.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authentication.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authentication.Core.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authentication.BearerToken.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authentication.OAuth.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authorization.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Authorization.Policy.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Components.Authorization.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Components.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Components.Endpoints.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Components.Forms.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Components.Server.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Components.Web.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Connections.Abstractions.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.CookiePolicy.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Cors.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Cryptography.Internal.dll
PickListAllocation/bin/Debug/net9.0/refs/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll
PickListAllocation/obj/Debug/net9.0/compressed/m8cn4g1z19-jil09b48my.gz
PickListAllocation/obj/Debug/net9.0/compressed/lac9m54wjx-x9ynh2ynwa.gz
