################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.v2
*.vsidx
/PickListAllocation/obj/Debug/net9.0/rpswa.dswa.cache.json
*.db-shm
*.db
*.db-wal
/.vs/PickListAllocation/v17/.suo
/.vs/PickListAllocation/v17/DocumentLayout.backup.json
/.vs/PickListAllocation/v17/DocumentLayout.json
/PickListAllocation/bin/Debug/net9.0/PickListAllocation.dll
/PickListAllocation/bin/Debug/net9.0/PickListAllocation.exe
/PickListAllocation/bin/Debug/net9.0/PickListAllocation.pdb
/PickListAllocation/obj/Debug/net9.0/ref/PickListAllocation.dll
/PickListAllocation/obj/Debug/net9.0/refint/PickListAllocation.dll
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.AssemblyInfoInputs.cache
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.AssemblyInfo.cs
/PickListAllocation/obj/Debug/net9.0/apphost.exe
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.csproj.CoreCompileInputs.cache
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.dll
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.pdb
/PickListAllocation/obj/Debug/net9.0/PickListAllocation.sourcelink.json
/PickListAllocation/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
/PickListAllocation/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
/PickListAllocation/obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
